.container {
    max-width: 1100px;
    margin: 0 auto;
}


.section-styles {
    padding: 130px;
}

.about {
    padding: 130px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    /* margin: 50px 150px 50px ; */
    background: linear-gradient(#070211, #07021100)
}

.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;

}

.section-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;

}

.section {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

/* main section */
.about-2 {
    padding: 130px;
    background: #FFF;
    text-align: center;
}

.welcome-section {
    display: flex;
    background-image: url('../images/Vectorrr.png');
    color: white;
    padding: 50px;

}

.section-2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;

}

.section-title-2 {
    color: #F00;
    text-align: center;

    font-size: 24px;

    font-weight: 500;
}

.section-description {
    color: #070211;
    text-align: center;

    font-size: 48px;

    font-weight: 700;

}

.section-description-2 {

    width: 802.9px;
    height: 500px;

}

.button {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.paragraph {
    /* color: rgba(255, 255, 255, 0.80); */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.welcome {
    /* color: #FFF; */
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 15px;
}

/* .header-2{
    background-image: url('../images/Vectorrr.png');
    /* fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
/* width: 1320px;
height: 600px;
  } */
*/ .image {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    justify-content: right;
    align-items: center;
    flex-shrink: 0;

}

/* <!-- place new park hotle section  --> */


.place-date-time {
    text-align: center;
    /* background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */

    /* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */

    font-size: 30px;
    padding: 50px;
    margin-top: 60px;
    margin-bottom: 40px;

}

.place-new-park {

    background: rgba(255, 0, 0, 0.05);
}


.orange-colour {
    color: #F00;
}


.join-now {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background: #F00;
    padding: 10px;
}





/* new best offer section  */

.new-best-offer {
    display: flex;
    align-items: center;
    text-align: center;
}

.best-offer {
    color: #F00;
}

.coming-soon {
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: -3px;
}

/* holiday-section */

.holiday-section {

    margin-top: 60px;
    margin-bottom: 30px;


}

.holiday-sale {
    align-items: center;
    text-align: center;
}

.holiday {
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: -2px;
}

/* .holiday-paragraph{ */
/* margin-bottom: -5px; */




/* <!-- Our Awesome Portfolio section  --> */

.images-3 img {
    width: 350px;
}

.image-6 img {
    width: 350px;
}

.newsletter {
    text-align: center;
    padding: 60px;
    margin: 40px;
    background: rgba(255, 0, 0, 0.05);
    ;
}

.the-best {
    /* margin-top: 10px; */
    color: #F00;
}

.portfolio-section {
    margin-top: 27px;
    margin-bottom: 25px;
}


.portfolio-title {
    margin-top: -5px;
}


/* footer section  */


.footer {
    background: #070211;
    color: #FFF;
    height: 400px;

}

.display {
    display: flex;
    align-items: center;
    padding-top: 10px;


}

.display p {
    margin: 4px;
}



.display-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}

.image-aline {
    text-align: center;
    padding-top: 80px;

}

.all-reserved {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;

}

.Unsubscribe {}